
header {
    background-image: url("../imgs/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 10px;
}

.button {
    border-radius:999px;
    padding: 10px;
    border-style: none;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #23272a;
    color: white;
}

.lightblue {
    background-color: #7289da;
    color: #ffffff;
}



.center_header_nav {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    color: white;
}


.hero {
    text-align: center;
    color: white;
    line-height: 160%;
    padding-inline: 10%;
}

.hero > h1 {
    margin-block: 1em;
}

.hero_buttons{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    padding-bottom:3em;
}

.right_layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:10%;
}

article > h2 {
    font-size: 35px;
    padding-block: 1em;
}

article > h3 {
    background-image:url("../imgs/stars.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding:25px
}

article > p{
    margin-bottom: 1em;
}

.right_layout figure,
.left_layout figure,
.bottom_layout figure {
    flex-basis: 50%;
}

.right_layout article,
.left_layout article,
.bottom_layout article{
    flex-basis: 50%;
}

.left_layout {
    background-color:#f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:10%;
}

.bottom_layout {
    text-align: center;
    background-color: #f6f6f6;
    padding-inline:10%;
}
   
.main_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    padding-inline: 10%;
}

.bottom_button {
    display: flex;
    justify-content: center;
    margin: 20px;
}

footer {
    height: 250px;
    background-color: orange;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-block: 1em;
}




.bottom_footer {
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10%;
}












